@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?rdgl7g');
	src:url('../fonts/icomoon.eot?rdgl7g#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?rdgl7g') format('truetype'),
		url('../fonts/icomoon.woff?rdgl7g') format('woff'),
		url('../fonts/icomoon.svg?rdgl7g#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-cookie {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color:white;
	padding-top:13px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cookie:before {
	content: "\e800";
}
