<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center bottom-icons">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS-feed">
                            <span class="fa-stack fa-lg">
                                <span class="fa fa-circle fa-stack-2x"></span>
                                <span class="fa fa-rss fa-stack-1x fa-inverse"></span>
                            </span>
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <span class="fa fa-circle fa-stack-2x"></span>
                                <span class="fa fa-twitter fa-stack-1x fa-inverse"></span>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebookpagina">
                            <span class="fa-stack fa-lg">
                                <span class="fa fa-circle fa-stack-2x"></span>
                                <span class="fa fa-facebook fa-stack-1x fa-inverse"></span>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}" title="Broncode van deze website op Github">
                            <span class="fa-stack fa-lg">
                                <span class="fa fa-circle fa-stack-2x"></span>
                                <span class="fa fa-github fa-stack-1x fa-inverse"></span>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ "/cookieverklaring/" | prepend: site.baseurl }}" title="Cookieverklaring">
                            <span class="fa-stack fa-lg">
                              <span class="fa fa-circle fa-stack-2x"></span>
                                <span class="fa fa-stack-1x icon-cookie">
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted"><a href="https://intkort.be/privacypolicy/">Privacy Policy</a> &bullet; {{ site.title }} &copy; {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                <p class="copyright text-muted">
                    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.nl">
                        <img class="center-block license" alt="Creative Commons-Licentie" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                    </a>
                    Dit werk valt onder een <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.nl">Creative Commons Naamsvermelding-GelijkDelen 4.0 Internationaal-licentie</a>.
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% if site.GH_ENV %}
<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js" | prepend: site.baseurl }}"></script>
{% else %}
<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.js" | prepend: site.baseurl }}"></script>
{% endif %}


<!-- Lightbox JavaScript -->
<script src="{{ "/js/ekko-lightbox.min.js" | prepend: site.baseurl }}"></script>
